body{
    font-family: 'Poppins', sans-serif;
}
.name{
    color: rgba(255, 166, 0, 0.781);
}
h1{
    font-size: 50px;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 100%;   
}
.num{
    color: rgb(153, 224, 248);
}
.nam{
    color: rgb(140, 217, 248);
}